<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="wang.dao.StatusUpdateDao">
	

	<select id="getStatusByRecordId" resultType="StatusUpdate">
		select * from status_update where record_id=#{param1} order by id
	</select>
	
	<select id="getLatestStatusByRecordId" resultType="StatusUpdate">
		select * from status_update where record_id=#{param1} order by update_time desc,id desc limit 1
	</select>
	
	<insert id="add" parameterType="StatusUpdate" useGeneratedKeys="true" keyProperty="id">
		insert into status_update(record_id,status,update_time,remark) values(#{recordId},#{status},#{updateTime},#{remark})
	</insert>
</mapper>